<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated htmlDoc -->
      <package
            uri="http://www.example.org/htmlDoc"
            class="no.hib.masters.model.htmldoc.htmlDoc.HtmlDocPackage"
            genModel="model/htmlDoc.genmodel"/>
   </extension>

</plugin>
